<html>
	<head>
		<title>Synckr</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="eventId" content="<%= eventId %>">
    <meta name="eventType" content="<%= eventType %>">
    <meta name="allVoted" content="<%= allVoted %>">
    <meta name="startDate" content="<%= startDate %>">
    <meta name="endDate" content="<%= endDate %>">
    <meta name="notVoted" content="<%= notVoted %>">
    <meta name="notDecided" content="<%= notDecided %>">
    <meta name="firstUse" content="<%= firstUse %>">
    <meta name="firstDecide" content="<%= firstDecide %>">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<% if (theme === "light") { %>
			<link rel="stylesheet" href="/css/calendar-light.css">
		<% } else { %>
			<link rel="stylesheet" href="/css/calendar-dark.css">
		<% } %>
	</head>
	<body>
		<div id="placeholder">
			<div id="navbar">
				<div id="nav-left"><span class="glyphicon glyphicon-chevron-left"></span> Synckr</div>
				<div id="nav-middle">Event</div>
				<div id="nav-right">Done</div>
			</div>
			<div id="pane">
				<div id="day-bar">
					<div id="overlay-toggle">
						<div id="month"></div>
						<div id="overlay-icon"><span id="stats-icon" class="glyphicon glyphicon-stats"></span></div>
					</div>
					<div id="day-scroll">
						<div id="day-stretch"></div>
					</div>
				</div>
				<div id="scroll-pane">
					<div id="handle-bar">
						<div class="handle">12am</div>
						<div class="handle">1</div>
						<div class="handle">2</div>
						<div class="handle">3</div>
						<div class="handle">4</div>
						<div class="handle">5</div>
						<div class="handle">6</div>
						<div class="handle">7</div>
						<div class="handle">8</div>
						<div class="handle">9</div>
						<div class="handle">10</div>
						<div class="handle">11</div>
						<div class="handle">12pm</div>
						<div class="handle">1</div>
						<div class="handle">2</div>
						<div class="handle">3</div>
						<div class="handle">4</div>
						<div class="handle">5</div>
						<div class="handle">6</div>
						<div class="handle">7</div>
						<div class="handle">8</div>
						<div class="handle">9</div>
						<div class="handle">10</div>
						<div class="handle">11</div>
						<div class="handle">12</div>
					</div>
					<div id="grid-holder">
						<div id="grid-stretch"></div>
					</div>
				</div>
			</div>
			<div id="dialog">
				<img src="/images/check3.png">
				<p>Saved!</p>
			</div>
			<div id="dialog-send">
				<p>Decision sent to everyone!</p>
				<div id="send-button">OK</div>
			</div>
		</div>
		<div id="mask">
			<div id="mask-indication">
				<div class="indication" id="tutorial">Tap to continue</div>	
				<div class="indication" id="steps">
					<div class="dot"><img  id="dot-1" src="/images/dot-dark.png" width="10px"></div>
					<div class="dot"><img id="dot-2" src="/images/dot-light.png" width="10px"></div>
					<div class="dot"><img id="dot-3" src="/images/dot-light.png" width="10px"></div>
					<div class="dot"><img id="dot-4" src="/images/dot-light.png" width="10px"></div>
				</div>
			</div>
			<div class="mask-side">
				<!-- <div class="mask-tap" id="mask-topleft">
					<img src="/images/tap-icon.png"/>
					<p>Tap to show votes</p>
				</div> -->
				<div class="mask-scroll" id="mask-left">
					<img src="/images/scroll-icon-black.png"/>
					<p>Scroll to show time</p>
				</div>
			</div>
			<div class="mask-scroll" id="mask-top">
				<img src="/images/scroll-horizontal-icon-black.png"/>
				<p>Scroll to show dates</p>
			</div>
			<div class="mask-drag-frame">
				<div class="mask-drag" id="mask-drag-move">
					<img src="/images/tap-icon.png"/>
					<p>Drag to select slot</p>
				</div>
				<div class="mask-drag">
				</div>
			</div>
			<div class="mask-double-click">
				<img src="/images/double-click-icon.png"/>
				<p>Double click to delete</p>
			</div>
			<div class="mask-heatmap">
				<div id="heat-indication">
					<!-- <div id="heat-indication-wrap">
						<div class="heat-level" id="heat-level-1"></div><div class="heat-level" id="heat-level-2"></div><div class="heat-level" id="heat-level-3"></div><div class="heat-level" id="heat-level-4"></div><div class="heat-level" id="heat-level-5"></div>
					</div> -->
<!-- 					<div class="level">
						<p id="level-min">min</p>
						<p id="level-max">max</p>
					</div> -->
				</div>
				<div class="mask-slot" id="mask-slot-1"><p class="count">1</p></div>
				<div class="mask-slot" id="mask-slot-2"><p class="count">3</p></div>
				<div class="mask-slot" id="mask-slot-3"><p class="count">5</p></div>
				<p id="votes-indication"> Votes shown on gray slots</p>
			</div>
			<div class="mask-decide">
				<p id="decide-indication"> Drag to decide time</p>
			</div>
		</div>
		<div id='dialog-button'>
			<p></p>
			<div id="ok-button"></div>
			<div id="cancel-button"></div>
		</div>
		<div id="friendList">
			<div id="navbar">
				<div id="nav-left"><a href="#" id="back-new"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></div>
				<div id="nav-middle">Votes</div>
			</div>
			<div id="list">
				<div class="friends">
					<div class="friend-intro friend-pic">
						<img src="/images/profile1.jpg" width="30px" height="30px"/>
					</div>
					<div class="friend-intro friend-name">
						<p>Jocelin Ho</br></p>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/jquery.hammer-full.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/calendar.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-48536015-1', 'synckr.com');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
