<html>
	<head>
		<title>Synckr</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="eventId" content="<%= eventId %>">
    <meta name="eventType" content="<%= eventType %>">
    <meta name="startDate" content="<%= startDate %>">
    <meta name="endDate" content="<%= endDate %>">
    <meta name="notVoted" content="<%= notVoted %>">
    <meta name="notDecided" content="<%= notDecided %>">
    <meta name="firstUse" content="<%= firstUse %>">
    <meta name="firstDecide" content="<%= firstDecide %>">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/calendar.css">
	</head>
	<body>
		<div id="placeholder">
			<div id="navbar">
				<div id="nav-left">&lt; Synckr</div>
				<div id="nav-middle">Event</div>
				<div id="nav-right">Done</div>
			</div>
			<div id="pane">
				<div id="day-bar">
					<div id="overlay-toggle">
						<div id="month"></div>
						<div id="overlay-icon"><span class="glyphicon glyphicon-stats"></span></div>
					</div>
					<div id="day-scroll">
						<div id="day-stretch"></div>
					</div>
				</div>
				<div id="scroll-pane">
					<div id="handle-bar">
						<div class="handle">12am</div>
						<div class="handle">1</div>
						<div class="handle">2</div>
						<div class="handle">3</div>
						<div class="handle">4</div>
						<div class="handle">5</div>
						<div class="handle">6</div>
						<div class="handle">7</div>
						<div class="handle">8</div>
						<div class="handle">9</div>
						<div class="handle">10</div>
						<div class="handle">11</div>
						<div class="handle">12pm</div>
						<div class="handle">1</div>
						<div class="handle">2</div>
						<div class="handle">3</div>
						<div class="handle">4</div>
						<div class="handle">5</div>
						<div class="handle">6</div>
						<div class="handle">7</div>
						<div class="handle">8</div>
						<div class="handle">9</div>
						<div class="handle">10</div>
						<div class="handle">11</div>
						<div class="handle">12</div>
					</div>
					<div id="grid-holder">
						<div id="grid-stretch"></div>
					</div>
				</div>
			</div>
			<div id="dialog">
				<img src="/images/check3.png">
				<p>Saved!</p>
			</div>
		</div>
		<div id="mask">
			<div class="mask-side">
				<div class="mask-tap" id="mask-topleft">
					<img src="/images/tap-icon.png"/>
					<p>Tap to show votes</p>
				</div>
				<div class="mask-scroll" id="mask-left">
					<img src="/images/scroll-icon-black.png"/>
					<p>Scroll to show time</p>
				</div>
			</div>
			<div class="mask-scroll" id="mask-top">
				<img src="/images/scroll-horizontal-icon-black.png"/>
				<p>Scroll to show dates</p>
			</div>
			<div class="mask-drag-frame">
				<div class="mask-drag" id="mask-drag-move">
					<img src="/images/tap-icon.png"/>
					<p>Drag to select slot</p>
				</div>
				<div class="mask-drag">
				</div>
			</div>
			<div class="mask-double-click">
				<img src="/images/double-click-icon.png"/>
				<p>Double click to delete</p>
			</div>
			<div class="mask-heatmap">
				<div id="heat-indication">
					<div id="heat-indication-wrap">
						<div class="heat-level" id="heat-level-1"></div><div class="heat-level" id="heat-level-2"></div><div class="heat-level" id="heat-level-3"></div><div class="heat-level" id="heat-level-4"></div><div class="heat-level" id="heat-level-5"></div>
					</div>
					<div class="level">
						<p id="level-min">min</p>
						<p id="level-max">max</p>
					</div>
				</div>
				<div class="mask-slot" id="mask-slot-1"></div>
				<div class="mask-slot" id="mask-slot-2"></div>
				<div class="mask-slot" id="mask-slot-3"></div>
				<p id="votes-indication"> Votes shown as heatmap</p>
			</div>
			<div class="mask-decide">
				<p id="decide-indication"> Drag to decide time</p>
			</div>
		</div>
		<div id='dialog-button'>
			<p></p>
			<!-- <a href="/events"> -->
			<div id="ok-button"></div>
			<!-- </a> -->
			<div id="cancel-button"></div>
		</div>
		<div id="friendList">
			<div id="navbar">
				<div id="nav-left"><a href="#" id="back-new">< Back</a></div>
				<div id="nav-middle">Votes</div>
			</div>
			<div id="list">
				<div class="friends">
					<div class="friend-intro friend-pic">
						<img src="/images/profile1.jpg" width="30px" height="30px"/>
					</div>
					<div class="friend-intro friend-name">
						<p>Jocelin Ho</br></p>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/jquery.hammer-full.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/calendar.js"></script>
	</body>
</html>
