<html>
	<head>
		<title>Synckr</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/list.css">
	</head>
	<body>
		<div id="placeholder">
			<div id="navbar">
				<div id="nav-left">Edit</div>
				<div id="nav-middle">Synckr</div>
				<a href="/events/new"><div id="nav-right"><span class="glyphicon glyphicon-plus"></span></div></a>
			</div>
			<div id="list">
			<% for (var i = 0; i < events.length; ++i) { %>
				<div class="out-event
					<% if (events[i].notDecided(fb_id) && events[i].isPending()) { %>
						not-decided
					<% } %>
					<% if (events[i].notVoted(fb_id) && events[i].isOngoing()) { %>
						not-voted
					<% } %>
				">
					<% if (events[i].isMine(fb_id)) { %>
						<div class="cancel-icon"><img src="images/cancel-icon.png"/ width="20px"></div>
					<% } %>
					<a href="/events/<%= events[i].eventId %>">
						<div class="event">
							<div class="event-title"><%= events[i].title %></div>
							<% if (events[i].isDone()) { %>
								<div class="event-info"><span class="done">Done</span></div>
							<% } else if (events[i].isOngoing()) { %>
								<div class="event-info ongoing">
									<% if (events[i].notVoted(fb_id)) { %>
										<div class="event-deadline"><span class="deadline">Go vote!</span></div>
									<% } else { %>
										<div class="event-deadline"><span class="deadline"><%= events[i].daysLeft() %> days left</span></div>
									<% } %>
									<div class="event-people">
										<span class="glyphicon glyphicon-user"></span>
										<%= events[i].votedCount() %>/<%= events[i].totalCount() %>
									</div>
								</div>
							<% } else if (events[i].isPending()) { %>
								<% if (events[i].isMine(fb_id)) { %>
									<div class="event-info"><span class="decide">Go decide!</span></div>
								<% } else { %>
									<div class="event-info"><span class="pending">Pending</span></div>
								<% } %>
							<% } %>
							<% if (events[i].isMine(fb_id)) { %>
								<div class="arrow"><span class="glyphicon glyphicon-chevron-right"></span></div>
							<% } %>
						</div>
					</a>
				</div>
			<% } %>
			</div>
			<div id="user-info">
				<div id="user-pic"><img src="https://graph.facebook.com/<%= fb_id %>/picture" width="30" height="30"></div>
				<div id="user-name"><%= fb_name %></div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/list.js"></script>
	</body>
</html>
